@model Projekt_zaliczeniowy.Models.ProfileViewModel

@{
    ViewData["Title"] = "Mój Profil";
}

<h2>Mój Profil</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Dane użytkownika</h5>
        <p class="card-text"><strong>Email:</strong> @Model.Email</p>
    </div>
</div>









