@model List<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Lista użytkowników";
}

<h2>Lista użytkowników</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Rola</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <span class="badge bg-success">Admin</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">User</span>
                    }
                </td>
                <td>
                    @if (!User.IsInRole("Admin"))
                    {
                        <a asp-action="PromoteToAdmin" asp-controller="Account" asp-route-userId="@user.Id" class="btn btn-warning btn-sm">
                            Nadaj Admina
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
